# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Variables sensibles
.env

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Archivos temporales
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db